@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-background: #ffffff;
  --color-foreground: #1a1a1a;
  --color-primary: #7e22ce; /* your purple accent */
  --color-muted-foreground: #6b7280; /* gray tone */
}

body {
  @apply bg-[var(--color-background)] font-sans text-[var(--color-foreground)] antialiased;
}

@theme {
  /* Slate */
  --color-slate-100: #f8fafb;

  /* Gray */
  --color-gray-100: #eeeeef;
  --color-gray-200: #e6e9ed;
  --color-gray-600: #95989c;

  /* Purple */
  --color-purple-200: #d9ddee;
  --color-purple-500: #9492db;
  --color-purple-600: #463ad6;
}

.react-tweet-theme {
  --tweet-container-margin: 0.75rem 0 !important;
}
